<!DOCTYPE html>
<html lang="en">

<head>
    <title>hCard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="app.js"></script>

</head>


<body ng-app="app" ng-controller="controller">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">

                    <h1>Customers</h1>

                </div>

                <div class="row">
                    <p>Customers in red are over 60% win rate</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>Win Rate</th>
                                <th>Average Bet</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="dangerRate(customer.WinRate)" ng-repeat="customer in customers">
                                <td>{{customer.Id}}</td>
                                <td>{{customer.WinRate}}%</td>
                                <td>${{customer.AverageBet}}</td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="col-md-6">
                <div class="row">

                    <h1>Unsettle Bets</h1>

                </div>

                <div class="row">
                    <p>-</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>Event</th>
                                <th>Stake</th>
                                <th>Prize</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bet in bets">
                                <td ng-class="customerHighlight(bet.CustomerId)">{{bet.CustomerId}}</td>
                                <td>{{bet.Event}}</td>
                                <td>${{bet.Stake}}</td>
                                <td>${{bet.Prize}}</td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</body>

</html>
